%table{:class=>'data'}
 %tr
  %th Date
  - @data_vars.each do |d|
   %th{:colspan=>2} #{d}, #{@info[d][:type]}
 %tr
  %td
  - @data_vars.each do |d|
   %td{:colspan=>2}
    %img(src="#{@info[d][:graph]}")
    <!-- #{@info[d][:graph_data]} -->
 - @days.each do |i|
  %tr(style="vertical-align: top")
   %td= i
   - @data_vars.each do |d|
    %td
     #{@info[d][:data][i]}
    %td
     %small #{(@info[d][:last][i]||'')[0..4]}

